# Order Brushing Detection

Task
1. Identify all shops that are deemed to have conducted order brushing.
2. For each shop that is identified to have conducted order brushing, identify the buyers suspected to have conducted order brushing for that shop.

For the purpose of this question, shops are deemed to have conducted order brushing if their concentrate rate is greater than or equal to 3 at any instance

[link to kaggle](https://www.kaggle.com/c/order-brushing-shopee-code-league)

In [11]:
import pandas as pd
import numpy as np
from datetime import datetime, timedelta

## Load data

In [12]:
df = pd.read_csv('order_brush_order.csv')
df.head()

          orderid     shopid     userid           event_time
0  31076582227611   93950878   30530270  2019-12-27 00:23:03
1  31118059853484  156423439   46057927  2019-12-27 11:54:20
2  31123355095755  173699291   67341739  2019-12-27 13:22:35
3  31122059872723   63674025  149380322  2019-12-27 13:01:00
4  31117075665123  127249066  149493217  2019-12-27 11:37:55

# Data Exploration

In [13]:
# there are total of 222750 transaction
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 222750 entries, 0 to 222749
Data columns (total 4 columns):
 #   Column      Non-Null Count   Dtype
---  ------      --------------   -----
 0   orderid     222750 non-null  int64
 1   shopid      222750 non-null  int64
 2   userid      222750 non-null  int64
 3   event_time  222750 non-null  object
dtypes: int64(3), object(1)
memory usage: 6.8+ MB

There are total 18770 shops, with most of the shops only have few orders.   
50% of shops less than 2 orders

In [14]:
unique_shopid = df['shopid'].unique()
len(unique_shopid)

18770

In [15]:
#df.groupby('shopid').size().describe()
df.groupby('shopid')['userid'].count().describe()

count    18770.000000
mean        11.867342
std        104.244723
min          1.000000
25%          1.000000
50%          2.000000
75%          8.000000
max      11703.000000
Name: userid, dtype: float64

List of TOP 10 shops with MOST orders

In [16]:
df.groupby('shopid')['userid'].count().sort_values(ascending = False).head(10)

shopid
147941492    11703
61556313      6691
54615708      2640
91799978       707
57189823       687
107921853      684
25924280       655
89768730       607
43412276       529
32504026       516
Name: userid, dtype: int64

# Data Analysis

#### Convert `event_time` datatype to datetime

In [17]:
df['event_time'] = pd.to_datetime(df['event_time'])

# find the start and last timestamp for the entire dataframe, is is only 5 days datasets
print(f"transaction start: {df['event_time'].min()}")
print(f"transaction end: {df['event_time'].max()}")

transaction start: 2019-12-27 00:00:00
transaction end: 2019-12-31 23:59:56

#### Find all shops ID which have more than 3 orders

In [28]:
#dict, key = shopid, value = # orders
shopid_over3_dict = pd.DataFrame(df.groupby('shopid').size()[df.groupby('shopid').size() >=3]).to_dict()

shopid_over3 = shopid_over3_dict[0].keys()
print(f"{len(shopid_over3)} shops with >= 3 orders")

9031 shops with >= 3 orders

#### Generate timestamp

In [30]:
#.timestamp() -> Return POSIX timestamp as float.

df['ts'] = df['event_time'].apply(lambda x: x.timestamp()).astype(int)
df.head()

          orderid     shopid     userid          event_time          ts
0  31076582227611   93950878   30530270 2019-12-27 00:23:03  1577406183
1  31118059853484  156423439   46057927 2019-12-27 11:54:20  1577447660
2  31123355095755  173699291   67341739 2019-12-27 13:22:35  1577452955
3  31122059872723   63674025  149380322 2019-12-27 13:01:00  1577451660
4  31117075665123  127249066  149493217 2019-12-27 11:37:55  1577446675

#### Sort order by event time

In [32]:
df = df.sort_values(by = 'event_time', ascending = True)
df.head()

               orderid     shopid     userid          event_time          ts
150060  31075200506751    6042309   97707522 2019-12-27 00:00:00  1577404800
25985   31075200506752  104804492   97707522 2019-12-27 00:00:00  1577404800
81020   31075200506753    8715449   97707522 2019-12-27 00:00:00  1577404800
146598  31075201870570  190969466  170182475 2019-12-27 00:00:02  1577404802
80355   31075205798264    2859407   12532131 2019-12-27 00:00:05  1577404805

## Brushing orders detection

**Variable definition:**

- previous_order: The nearest order before the time interval.
- previous_order_time: The event time of previous_order.
- start_order: The first order of this time interval.
- start_order_time: The event time of start_order.
- end_order: The last order of this time interval.
- end_order_time: The event time of end_order.
- next_order: The nearest order after the time interval.
- next_order_time: The event time of next_order.   

**We will find time interval with following two conditions:**

1. start_order_time and end_order_time are within 1 hour.
2. next_order_time - previous_order_time > 1 hour.   
Warning: It will take more than 5 minutes to run this cell.

In [33]:
import time

In [35]:
print(f"{time.time()}")
print(f"local time: {time.localtime(time.time())}")
print(f"asc time: {time.asctime(time.localtime())}")

1592171704.925118
local time: time.struct_time(tm_year=2020, tm_mon=6, tm_mday=15, tm_hour=5, tm_min=55, tm_sec=4, tm_wday=0, tm_yday=167, tm_isdst=0)
asc time: Mon Jun 15 05:55:04 2020

In [34]:
from datetime import datetime
import time

count = 0
ans_dict = dict()

for shop_id in shopid_over3:
    time_record = time.time()
    cheat = 0
    # record the cheating row index in shop_df
    cheat_order_list = set() 
    
    shop_df = df[df['shopid'] == shop_id]
    len_shop_data = len(shop_df)
    # initial previous_order_time which is 1 hour earlier than the start_order_time, here we set 9999 secs which is greater than 3600 secs (aka 1 hour)
    previous_order_time = shop_df.iloc[0]['ts'] - 9999
    # We don't need to check for the last 2 orders since it need more than 3 orders to fit the condition of brushing order
    for start_order in range(len_shop_data - 2): 
        start_order_time = shop_df.iloc[start_order]['ts']
        # same as the reason above, end_order is start from start_order+2
        for end_order in range(start_order + 2, len_shop_data): 
            
            # start_order_time and end_order_time need to within 1 hour
            end_order_time = shop_df.iloc[end_order]['ts']
            if end_order_time > start_order_time + 3600:
                break
            
            # Find the event time of next_order
            # edge condition which end_order is the last order of this shop
            if end_order == len_shop_data - 1: 
                # similar to how we did for previous_order_time
                next_order_time = shop_df.iloc[end_order]['ts'] + 9999 
            else:
                next_order_time = shop_df.iloc[end_order + 1]['ts']
            
            # check whether next_order_time - previous_order_time > 1 hour
            if next_order_time > previous_order_time + 3601:
                # we can not divide orders which have same timestamp into different time interval
                if next_order_time == end_order_time: 
                    continue

                tmp_df = shop_df.iloc[start_order: end_order + 1]
                order_num = tmp_df.orderid.nunique()
                user_num = tmp_df.userid.nunique()

                # check whether order brushing
                if order_num / user_num >= 3:
                    cheat = 1
                    cheat_order_list.update(list(range(start_order, end_order + 1)))
        # refresh the previous order time
        previous_order_time = start_order_time 
        
    count += 1 
    
    if cheat == 1:
        # find the brushing user
        tmp_df = shop_df.iloc[list(cheat_order_list)]
        tmp_dict = tmp_df.groupby('userid').size().to_dict()
        max_time = max(list(tmp_dict.values()))
        
        ans_dict[shop_id] = []
        for user in tmp_dict:
            if tmp_dict[user] == max_time:
                ans_dict[shop_id].append(user)
                        
        print(f'{count:4d}, shop {shop_id} used {time.time() - time_record:4.2f} sec(s), cheat!!!')

   8, shop 10159 used 0.06 sec(s), cheat!!!
  27, shop 10402 used 0.01 sec(s), cheat!!!
  37, shop 10536 used 0.01 sec(s), cheat!!!
  67, shop 42472 used 0.01 sec(s), cheat!!!
  69, shop 42818 used 0.05 sec(s), cheat!!!
  77, shop 76934 used 0.01 sec(s), cheat!!!
 101, shop 195531 used 0.02 sec(s), cheat!!!
 136, shop 425364 used 0.00 sec(s), cheat!!!
 148, shop 599533 used 0.01 sec(s), cheat!!!
 149, shop 605561 used 0.01 sec(s), cheat!!!
 167, shop 722132 used 0.08 sec(s), cheat!!!
 169, shop 731606 used 0.01 sec(s), cheat!!!
 170, shop 736620 used 0.03 sec(s), cheat!!!
 178, shop 769445 used 0.07 sec(s), cheat!!!
 186, shop 823357 used 0.02 sec(s), cheat!!!
 226, shop 1175477 used 0.12 sec(s), cheat!!!
 241, shop 1532569 used 0.01 sec(s), cheat!!!
 292, shop 2831130 used 0.04 sec(s), cheat!!!
 293, shop 2856708 used 0.12 sec(s), cheat!!!
 309, shop 3124091 used 0.01 sec(s), cheat!!!
 332, shop 3701311 used 0.02 sec(s), cheat!!!
 348, shop 4149345 used 0.21 sec(s), cheat!!!
 377, shop 4888564 used 0.01 sec(s), cheat!!!
 429, shop 6765647 used 0.05 sec(s), cheat!!!
 508, shop 8566282 used 0.03 sec(s), cheat!!!
 514, shop 8715449 used 0.38 sec(s), cheat!!!
 533, shop 8996761 used 0.02 sec(s), cheat!!!
 543, shop 9153340 used 0.07 sec(s), cheat!!!
 553, shop 9372692 used 0.02 sec(s), cheat!!!
 554, shop 9374147 used 0.97 sec(s), cheat!!!
 560, shop 9466594 used 0.02 sec(s), cheat!!!
 571, shop 9676950 used 0.09 sec(s), cheat!!!
 610, shop 10199219 used 0.01 sec(s), cheat!!!
 613, shop 10206302 used 0.03 sec(s), cheat!!!
 629, shop 10498480 used 0.04 sec(s), cheat!!!
 669, shop 11342466 used 0.04 sec(s), cheat!!!
 676, shop 11474437 used 0.02 sec(s), cheat!!!
 680, shop 11612863 used 0.02 sec(s), cheat!!!
 688, shop 11809607 used 0.02 sec(s), cheat!!!
 689, shop 11849988 used 0.02 sec(s), cheat!!!
 692, shop 11896733 used 0.18 sec(s), cheat!!!
 699, shop 12078788 used 0.08 sec(s), cheat!!!
 723, shop 12537642 used 0.03 sec(s), cheat!!!
 784, shop 13735592 used 0.01 sec(s), cheat!!!
 803, shop 14184981 used 0.00 sec(s), cheat!!!
 814, shop 14598427 used 0.04 sec(s), cheat!!!
 816, shop 14646941 used 0.03 sec(s), cheat!!!
 859, shop 15920950 used 0.01 sec(s), cheat!!!
 865, shop 16001939 used 0.06 sec(s), cheat!!!
 879, shop 16246487 used 0.01 sec(s), cheat!!!
 896, shop 16613121 used 0.71 sec(s), cheat!!!
 905, shop 16680589 used 0.01 sec(s), cheat!!!
 910, shop 16732896 used 0.02 sec(s), cheat!!!
 914, shop 17011899 used 0.02 sec(s), cheat!!!
 923, shop 17212658 used 0.01 sec(s), cheat!!!
 924, shop 17219984 used 0.01 sec(s), cheat!!!
 962, shop 18190345 used 0.10 sec(s), cheat!!!
 963, shop 18229789 used 0.01 sec(s), cheat!!!
1011, shop 19052728 used 0.01 sec(s), cheat!!!
1081, shop 20522747 used 0.01 sec(s), cheat!!!
1151, shop 22800308 used 0.06 sec(s), cheat!!!
1287, shop 27015534 used 0.09 sec(s), cheat!!!
1293, shop 27121667 used 0.06 sec(s), cheat!!!
1306, shop 27476241 used 0.14 sec(s), cheat!!!
1318, shop 27987240 used 0.08 sec(s), cheat!!!
1337, shop 28091290 used 0.06 sec(s), cheat!!!
1345, shop 28164269 used 0.02 sec(s), cheat!!!
1367, shop 28773787 used 0.00 sec(s), cheat!!!
1376, shop 28812867 used 0.01 sec(s), cheat!!!
1392, shop 29238238 used 0.02 sec(s), cheat!!!
1404, shop 29650418 used 0.02 sec(s), cheat!!!
1417, shop 29979455 used 0.06 sec(s), cheat!!!
1445, shop 30740877 used 0.02 sec(s), cheat!!!
1470, shop 31614331 used 0.01 sec(s), cheat!!!
1499, shop 32729279 used 0.02 sec(s), cheat!!!
1576, shop 34923033 used 0.03 sec(s), cheat!!!
1595, shop 35590237 used 0.01 sec(s), cheat!!!
1622, shop 36641013 used 0.03 sec(s), cheat!!!
1707, shop 40262957 used 0.01 sec(s), cheat!!!
1750, shop 41056024 used 0.03 sec(s), cheat!!!
1756, shop 41246368 used 0.05 sec(s), cheat!!!
1813, shop 43412276 used 1.87 sec(s), cheat!!!
1826, shop 43596797 used 0.01 sec(s), cheat!!!
1870, shop 45084184 used 0.02 sec(s), cheat!!!
1977, shop 48961570 used 0.03 sec(s), cheat!!!
1979, shop 48970010 used 0.01 sec(s), cheat!!!
2022, shop 50682734 used 0.00 sec(s), cheat!!!
2024, shop 50713918 used 0.09 sec(s), cheat!!!
2074, shop 51134277 used 0.09 sec(s), cheat!!!
2076, shop 51487211 used 0.06 sec(s), cheat!!!
2113, shop 52377417 used 0.20 sec(s), cheat!!!
2166, shop 54054704 used 0.14 sec(s), cheat!!!
2169, shop 54257623 used 0.03 sec(s), cheat!!!
2172, shop 54415227 used 0.01 sec(s), cheat!!!
2179, shop 54593828 used 0.03 sec(s), cheat!!!
2247, shop 58543771 used 0.05 sec(s), cheat!!!
2274, shop 58722428 used 0.00 sec(s), cheat!!!
2279, shop 58835561 used 0.03 sec(s), cheat!!!
2281, shop 58853808 used 0.07 sec(s), cheat!!!
2300, shop 59617008 used 0.01 sec(s), cheat!!!
2349, shop 60587222 used 0.02 sec(s), cheat!!!
2448, shop 63001696 used 0.03 sec(s), cheat!!!
2449, shop 63001745 used 0.01 sec(s), cheat!!!
2507, shop 63888299 used 0.02 sec(s), cheat!!!
2551, shop 64369518 used 0.00 sec(s), cheat!!!
2569, shop 64394533 used 0.05 sec(s), cheat!!!
2608, shop 65453156 used 0.01 sec(s), cheat!!!
2637, shop 66232769 used 0.01 sec(s), cheat!!!
2641, shop 66337054 used 0.45 sec(s), cheat!!!
2649, shop 66391375 used 0.02 sec(s), cheat!!!
2685, shop 66861410 used 0.15 sec(s), cheat!!!
2726, shop 68478964 used 0.07 sec(s), cheat!!!
2733, shop 68609828 used 0.05 sec(s), cheat!!!
2755, shop 68862371 used 0.07 sec(s), cheat!!!
2765, shop 68986766 used 0.03 sec(s), cheat!!!
2809, shop 70009992 used 0.01 sec(s), cheat!!!
2848, shop 71007731 used 0.00 sec(s), cheat!!!
2860, shop 71168001 used 0.01 sec(s), cheat!!!
2906, shop 73103155 used 0.02 sec(s), cheat!!!
2929, shop 73690472 used 0.00 sec(s), cheat!!!
2977, shop 75326165 used 0.01 sec(s), cheat!!!
2992, shop 75622223 used 0.10 sec(s), cheat!!!
3046, shop 76668593 used 0.16 sec(s), cheat!!!
3128, shop 78837196 used 0.01 sec(s), cheat!!!
3186, shop 80049863 used 0.01 sec(s), cheat!!!
3212, shop 80890996 used 0.02 sec(s), cheat!!!
3226, shop 81087553 used 0.06 sec(s), cheat!!!
3241, shop 81190174 used 0.01 sec(s), cheat!!!
3320, shop 83234229 used 0.00 sec(s), cheat!!!
3324, shop 83366265 used 0.01 sec(s), cheat!!!
3336, shop 83440756 used 0.01 sec(s), cheat!!!
3422, shop 84866704 used 0.05 sec(s), cheat!!!
3450, shop 85648725 used 0.03 sec(s), cheat!!!
3467, shop 86285837 used 0.13 sec(s), cheat!!!
3468, shop 86368642 used 0.01 sec(s), cheat!!!
3501, shop 86822226 used 0.04 sec(s), cheat!!!
3520, shop 87063118 used 0.01 sec(s), cheat!!!
3541, shop 87621695 used 0.06 sec(s), cheat!!!
3542, shop 87657406 used 0.01 sec(s), cheat!!!
3553, shop 87845635 used 0.01 sec(s), cheat!!!
3614, shop 89126206 used 0.01 sec(s), cheat!!!
3704, shop 91123657 used 0.02 sec(s), cheat!!!
3724, shop 91638688 used 0.02 sec(s), cheat!!!
3784, shop 93295101 used 0.11 sec(s), cheat!!!
3786, shop 93358941 used 0.04 sec(s), cheat!!!
3819, shop 94154189 used 0.00 sec(s), cheat!!!
3841, shop 95139064 used 0.01 sec(s), cheat!!!
3860, shop 95458810 used 0.15 sec(s), cheat!!!
3893, shop 96460204 used 0.01 sec(s), cheat!!!
3899, shop 96555082 used 0.01 sec(s), cheat!!!
3936, shop 96757644 used 0.07 sec(s), cheat!!!
3938, shop 96757706 used 0.13 sec(s), cheat!!!
3958, shop 97167904 used 0.01 sec(s), cheat!!!
3995, shop 98481320 used 0.02 sec(s), cheat!!!
4029, shop 98768262 used 0.05 sec(s), cheat!!!
4034, shop 98793086 used 0.01 sec(s), cheat!!!
4044, shop 99067259 used 0.01 sec(s), cheat!!!
4070, shop 99836251 used 0.03 sec(s), cheat!!!
4086, shop 100446829 used 0.01 sec(s), cheat!!!
4178, shop 103715156 used 0.00 sec(s), cheat!!!
4189, shop 104245736 used 0.02 sec(s), cheat!!!
4193, shop 104278513 used 0.02 sec(s), cheat!!!
4198, shop 104457555 used 0.01 sec(s), cheat!!!
4209, shop 104590058 used 0.12 sec(s), cheat!!!
4212, shop 104590579 used 0.01 sec(s), cheat!!!
4253, shop 104955370 used 0.01 sec(s), cheat!!!
4257, shop 105064701 used 0.01 sec(s), cheat!!!
4289, shop 106051591 used 0.01 sec(s), cheat!!!
4291, shop 106390103 used 0.00 sec(s), cheat!!!
4332, shop 107189025 used 0.04 sec(s), cheat!!!
4356, shop 108064389 used 0.02 sec(s), cheat!!!
4365, shop 108120403 used 0.01 sec(s), cheat!!!
4369, shop 108170744 used 0.02 sec(s), cheat!!!
4379, shop 109628767 used 0.01 sec(s), cheat!!!
4425, shop 110641390 used 0.03 sec(s), cheat!!!
4446, shop 110871170 used 0.11 sec(s), cheat!!!
4552, shop 114016125 used 0.01 sec(s), cheat!!!

4579, shop 114919380 used 0.39 sec(s), cheat!!!
4593, shop 115179739 used 0.20 sec(s), cheat!!!
4600, shop 115506347 used 0.05 sec(s), cheat!!!
4659, shop 116337057 used 0.01 sec(s), cheat!!!
4672, shop 116348362 used 0.03 sec(s), cheat!!!
4721, shop 117079735 used 0.02 sec(s), cheat!!!
4749, shop 118139770 used 0.01 sec(s), cheat!!!
4784, shop 118949192 used 0.01 sec(s), cheat!!!
4812, shop 119309887 used 0.01 sec(s), cheat!!!
4837, shop 119362482 used 0.06 sec(s), cheat!!!
4863, shop 119595148 used 0.01 sec(s), cheat!!!
4873, shop 119690532 used 0.01 sec(s), cheat!!!
4886, shop 120358496 used 0.07 sec(s), cheat!!!
4895, shop 120692254 used 0.02 sec(s), cheat!!!
4972, shop 122238789 used 0.00 sec(s), cheat!!!
4982, shop 122459518 used 0.03 sec(s), cheat!!!
5003, shop 123401085 used 0.01 sec(s), cheat!!!
5007, shop 123548863 used 0.01 sec(s), cheat!!!
5047, shop 126261266 used 0.01 sec(s), cheat!!!
5059, shop 126587078 used 0.01 sec(s), cheat!!!
5063, shop 126599655 used 0.01 sec(s), cheat!!!
5073, shop 126639670 used 0.48 sec(s), cheat!!!
5147, shop 128299931 used 0.02 sec(s), cheat!!!
5149, shop 128300567 used 0.01 sec(s), cheat!!!
5164, shop 129113839 used 0.00 sec(s), cheat!!!
5178, shop 129460270 used 0.01 sec(s), cheat!!!
5260, shop 130098983 used 0.01 sec(s), cheat!!!
5274, shop 130100254 used 0.02 sec(s), cheat!!!
5310, shop 130118966 used 0.01 sec(s), cheat!!!
5316, shop 130168935 used 0.04 sec(s), cheat!!!
5325, shop 130665582 used 0.01 sec(s), cheat!!!
5360, shop 131387639 used 0.02 sec(s), cheat!!!
5381, shop 131670390 used 0.01 sec(s), cheat!!!
5425, shop 132583615 used 0.00 sec(s), cheat!!!
5445, shop 132834615 used 0.07 sec(s), cheat!!!
5458, shop 132964122 used 0.03 sec(s), cheat!!!
5476, shop 133255677 used 0.01 sec(s), cheat!!!
5548, shop 134418456 used 0.00 sec(s), cheat!!!
5563, shop 134968430 used 0.03 sec(s), cheat!!!
5718, shop 135644492 used 0.00 sec(s), cheat!!!
5738, shop 136564914 used 0.09 sec(s), cheat!!!
5767, shop 137762841 used 0.01 sec(s), cheat!!!
5785, shop 138810304 used 0.02 sec(s), cheat!!!
5821, shop 139383672 used 0.01 sec(s), cheat!!!
5839, shop 139743785 used 0.00 sec(s), cheat!!!
5914, shop 140626153 used 0.01 sec(s), cheat!!!
5951, shop 141025402 used 0.02 sec(s), cheat!!!
5999, shop 141828266 used 0.00 sec(s), cheat!!!
6044, shop 143281052 used 0.18 sec(s), cheat!!!
6061, shop 143613660 used 0.01 sec(s), cheat!!!
6085, shop 143899665 used 0.01 sec(s), cheat!!!
6089, shop 144365607 used 0.01 sec(s), cheat!!!
6134, shop 145777302 used 0.05 sec(s), cheat!!!
6145, shop 145986052 used 0.00 sec(s), cheat!!!
6220, shop 148856653 used 0.01 sec(s), cheat!!!
6222, shop 148917764 used 0.07 sec(s), cheat!!!
6247, shop 149725779 used 0.01 sec(s), cheat!!!
6286, shop 150526730 used 0.02 sec(s), cheat!!!
6312, shop 151556698 used 0.03 sec(s), cheat!!!
6332, shop 152234237 used 0.01 sec(s), cheat!!!
6365, shop 152911522 used 0.01 sec(s), cheat!!!
6388, shop 153335627 used 0.01 sec(s), cheat!!!
6391, shop 153444897 used 0.00 sec(s), cheat!!!
6400, shop 153672697 used 0.00 sec(s), cheat!!!
6441, shop 154843675 used 0.00 sec(s), cheat!!!
6453, shop 155016230 used 0.00 sec(s), cheat!!!
6469, shop 155143347 used 0.03 sec(s), cheat!!!
6527, shop 156246169 used 0.02 sec(s), cheat!!!
6528, shop 156248768 used 0.11 sec(s), cheat!!!
6562, shop 156883302 used 0.49 sec(s), cheat!!!
6568, shop 156995951 used 0.00 sec(s), cheat!!!
6581, shop 157633413 used 0.01 sec(s), cheat!!!
6584, shop 157830762 used 0.01 sec(s), cheat!!!
6594, shop 157939195 used 0.00 sec(s), cheat!!!
6691, shop 160135616 used 0.03 sec(s), cheat!!!
6750, shop 161160594 used 0.01 sec(s), cheat!!!
6763, shop 161196859 used 0.00 sec(s), cheat!!!
6772, shop 161277691 used 0.02 sec(s), cheat!!!
6835, shop 162043213 used 0.02 sec(s), cheat!!!
6864, shop 162282525 used 0.00 sec(s), cheat!!!
6868, shop 162292584 used 0.01 sec(s), cheat!!!
6926, shop 163014475 used 0.08 sec(s), cheat!!!
6986, shop 163351089 used 0.00 sec(s), cheat!!!
7051, shop 163968828 used 0.00 sec(s), cheat!!!
7131, shop 165020094 used 0.01 sec(s), cheat!!!
7170, shop 165500538 used 0.01 sec(s), cheat!!!
7218, shop 167068287 used 0.04 sec(s), cheat!!!
7242, shop 168046193 used 0.02 sec(s), cheat!!!
7257, shop 168388504 used 0.01 sec(s), cheat!!!
7271, shop 168750844 used 0.00 sec(s), cheat!!!
7334, shop 169902791 used 0.01 sec(s), cheat!!!
7397, shop 171407673 used 0.01 sec(s), cheat!!!
7460, shop 172406176 used 0.01 sec(s), cheat!!!
7464, shop 172439621 used 0.01 sec(s), cheat!!!
7485, shop 173186657 used 0.01 sec(s), cheat!!!
7504, shop 173318671 used 0.00 sec(s), cheat!!!
7522, shop 173454640 used 0.00 sec(s), cheat!!!
7549, shop 173478708 used 0.04 sec(s), cheat!!!
7561, shop 173508019 used 0.02 sec(s), cheat!!!
7641, shop 175531295 used 0.02 sec(s), cheat!!!
7677, shop 176338861 used 0.01 sec(s), cheat!!!
7697, shop 177817260 used 0.01 sec(s), cheat!!!
7715, shop 178273138 used 0.06 sec(s), cheat!!!
7783, shop 180676972 used 0.01 sec(s), cheat!!!
7808, shop 181009364 used 0.01 sec(s), cheat!!!
7820, shop 181744029 used 0.02 sec(s), cheat!!!
7878, shop 182541768 used 0.01 sec(s), cheat!!!
7884, shop 182630287 used 0.01 sec(s), cheat!!!
7897, shop 182853378 used 0.01 sec(s), cheat!!!
8041, shop 186369695 used 0.01 sec(s), cheat!!!
8115, shop 187342268 used 0.02 sec(s), cheat!!!
8132, shop 187570150 used 0.03 sec(s), cheat!!!
8150, shop 188323737 used 0.01 sec(s), cheat!!!
8162, shop 188546697 used 0.01 sec(s), cheat!!!
8180, shop 189031483 used 0.02 sec(s), cheat!!!
8190, shop 189308408 used 0.08 sec(s), cheat!!!
8198, shop 189544563 used 0.00 sec(s), cheat!!!
8292, shop 191285578 used 0.00 sec(s), cheat!!!
8309, shop 191449441 used 0.01 sec(s), cheat!!!
8317, shop 191674006 used 0.01 sec(s), cheat!!!
8337, shop 192608876 used 0.01 sec(s), cheat!!!
8343, shop 192785588 used 0.55 sec(s), cheat!!!
8346, shop 192919438 used 0.00 sec(s), cheat!!!
8393, shop 193424291 used 0.01 sec(s), cheat!!!
8535, shop 195870375 used 0.00 sec(s), cheat!!!
8559, shop 198172755 used 0.01 sec(s), cheat!!!
8613, shop 199314784 used 0.01 sec(s), cheat!!!
8693, shop 201185983 used 0.01 sec(s), cheat!!!
8705, shop 201428849 used 0.00 sec(s), cheat!!!
8707, shop 201503467 used 0.01 sec(s), cheat!!!
8723, shop 201557550 used 0.00 sec(s), cheat!!!
8757, shop 203070501 used 0.00 sec(s), cheat!!!
8780, shop 203440274 used 0.00 sec(s), cheat!!!
8788, shop 203531250 used 0.01 sec(s), cheat!!!
8909, shop 204225676 used 0.01 sec(s), cheat!!!
8949, shop 208696908 used 0.00 sec(s), cheat!!!
9005, shop 210197928 used 0.00 sec(s), cheat!!!
9023, shop 213141071 used 0.00 sec(s), cheat!!!

In [35]:
# count how many shop is brushing (tips: the true num is 315 shops)
len(ans_dict)

315

In [36]:
ans_dict

{10159: [214988798],
 10402: [77819],
 10536: [672345],
 42472: [740844],
 42818: [170385453],
 76934: [190449497],
 195531: [214992524],
 425364: [72914921],
 599533: [264511],
 605561: [181682008],
 722132: [7670129],
 731606: [75558350],
 736620: [62618064],
 769445: [141006168],
 823357: [188942105],
 1175477: [122277324],
 1532569: [181408876],
 2831130: [15053804],
 2856708: [123959597],
 3124091: [214568881],
 3701311: [80690628],
 4149345: [212325226],
 4888564: [143847348],
 6765647: [740844],
 8566282: [556867],
 8715449: [9753706],
 8996761: [215382704],
 9153340: [197569856],
 9372692: [139795934],
 9374147: [148176353],
 9466594: [84811421],
 9676950: [210920501],
 10199219: [8405753],
 10206302: [95058664],
 10498480: [199416406],
 11342466: [152292010],
 11474437: [148215831],
 11612863: [214546342],
 11809607: [136680607],
 11849988: [148215831],
 11896733: [156614746],
 12078788: [214588488],
 12537642: [48412388],
 13735592: [215424202],
 14184981: [32594],
 14598427: [128702876],
 14646941: [200925208],
 15920950: [211907762],
 16001939: [205729485],
 16246487: [214300427],
 16613121: [192684666],
 16680589: [102125116],
 16732896: [214094512],
 17011899: [115994773],
 17212658: [107170776],
 17219984: [154495684],
 18190345: [89014205],
 18229789: [192400689],
 19052728: [2824209],
 20522747: [170673735],
 22800308: [99997899],
 27015534: [188025647],
 27121667: [183926374],
 27476241: [174145893],
 27987240: [192785138],
 28091290: [114498557],
 28164269: [33794624],
 28773787: [144248285],
 28812867: [199416406],
 29238238: [15861876],
 29650418: [138388930],
 29979455: [107641182],
 30740877: [79239008],
 31614331: [105848455],
 32729279: [205785599],
 34923033: [156774808],
 35590237: [2097773],
 36641013: [92223139],
 40262957: [214804722],
 41056024: [214226569],
 41246368: [81592089],
 43412276: [50672876],
 43596797: [214226569],
 45084184: [116055684],
 48961570: [2803721],
 48970010: [207880909],
 50682734: [214365114],
 50713918: [172106152],
 51134277: [29857724, 212200633],
 51487211: [5307816, 214808165],
 52377417: [213919641],
 54054704: [9837180],
 54257623: [1974334, 107414154],
 54415227: [48207392],
 54593828: [214778616],
 58543771: [61893096],
 58722428: [12425335],
 58835561: [152352709],
 58853808: [214623481],
 59617008: [80682958],
 60587222: [33794624],
 63001696: [81928284],
 63001745: [101866283],
 63888299: [112649507],
 64369518: [172591713],
 64394533: [194833170],
 65453156: [29503],
 66232769: [215123671],
 66337054: [122507717],
 66391375: [194647522],
 66861410: [213502289],
 68478964: [29466045],
 68609828: [183440131],
 68862371: [67554410],
 68986766: [10209247],
 70009992: [215293398],
 71007731: [214778616],
 71168001: [11053808],
 73103155: [214628840],
 73690472: [30244568],
 75326165: [177472272],
 75622223: [69523106],
 76668593: [215224309],
 78837196: [78903959],
 80049863: [123158564],
 80890996: [77374158],
 81087553: [130021933],
 81190174: [77374158],
 83234229: [181942741],
 83366265: [118860287],
 83440756: [26570682],
 84866704: [65814291],
 85648725: [186634585],
 86285837: [119785264],
 86368642: [144612139],
 86822226: [211907762],
 87063118: [178640685],
 87621695: [87846708],
 87657406: [214094512],
 87845635: [215427525],
 89126206: [3295689],
 91123657: [7300419],
 91638688: [214680031],
 93295101: [39834931],
 93358941: [79419297],
 94154189: [15826134],
 95139064: [189834273],
 95458810: [44959060],
 96460204: [193338089],
 96555082: [89312509],
 96757644: [215243653],
 96757706: [61348019],
 97167904: [214778616],
 98481320: [124597967],
 98768262: [150440717],
 98793086: [142710562],
 99067259: [108402614],
 99836251: [197470611],
 100446829: [2434757],
 103715156: [214226569],
 104245736: [188187242],
 104278513: [80682958],
 104457555: [214778616],
 104590058: [81928284],
 104590579: [213714377],
 104955370: [10051694],
 105064701: [214431654],
 106051591: [1276208],
 106390103: [51759862],
 107189025: [35639374, 159315857],
 108064389: [212200633],
 108120403: [212200633],
 108170744: [31233680],
 109628767: [214345977],
 110641390: [157946285],
 110871170: [133542654],
 114016125: [214705976],
 114919380: [117199298],
 115179739: [81928284],
 115506347: [200925208],
 116337057: [193415051],
 116348362: [870607],
 117079735: [37915675],
 118139770: [46361526],
 118949192: [211604080],
 119309887: [48412388],
 119362482: [92275977],
 119595148: [17722130],
 119690532: [21402690],
 120358496: [210701971],
 120692254: [214265994],
 122238789: [51759862],
 122459518: [214747060],
 123401085: [12869645],
 123548863: [131515076],
 126261266: [76441165],
 126587078: [26670670],
 126599655: [214327515],
 126639670: [101296643],
 128299931: [215009429],
 128300567: [215236192],
 129113839: [215408773],
 129460270: [48412388],
 130098983: [179997347],
 130100254: [18688337],
 130118966: [86802680],
 130168935: [31892574],
 130665582: [141499072],
 131387639: [192251866],
 131670390: [214094512],
 132583615: [152710183],
 132834615: [159124456],
 132964122: [142710562],
 133255677: [178640685],
 134418456: [214778616],
 134968430: [59725263],
 135644492: [40929352],
 136564914: [178491887],
 137762841: [62080153],
 138810304: [58467478],
 139383672: [214898782],
 139743785: [179065138],
 140626153: [86570212],
 141025402: [613919],
 141828266: [31713663],
 143281052: [99517130, 186080843],
 143613660: [67554410],
 143899665: [215408773],
 144365607: [214411855],
 145777302: [201343856],
 145986052: [63120351],
 148856653: [199382229],
 148917764: [189631941],
 149725779: [70086843],
 150526730: [108214177],
 151556698: [169671453],
 152234237: [36097212],
 152911522: [215169091],
 153335627: [111390406],
 153444897: [169948888],
 153672697: [214778616],
 154843675: [214778616],
 155016230: [188431260],
 155143347: [156202149, 214265994],
 156246169: [214778616],
 156248768: [129084826],
 156883302: [76102350, 188025647],
 156995951: [204919399],
 157633413: [202607600],
 157830762: [120099470],
 157939195: [69563623],
 160135616: [13949927],
 161160594: [74027394],
 161196859: [180862522],
 161277691: [212200872],
 162043213: [203554877],
 162282525: [162389170],
 162292584: [119654795],
 163014475: [18885346],
 163351089: [214778616],
 163968828: [78903959],
 165020094: [214617593],
 165500538: [93783570],
 167068287: [199416406],
 168046193: [6059093],
 168388504: [148215831],
 168750844: [193338089],
 169902791: [50198835],
 171407673: [211296094],
 172406176: [215115251],
 172439621: [1866916],
 173186657: [96046105],
 173318671: [215301243],
 173454640: [12597591],
 173478708: [81928284],
 173508019: [132704747],
 175531295: [187697407, 215009429],
 176338861: [132397558],
 177817260: [98709440],
 178273138: [71152760],
 180676972: [121537666],
 181009364: [101832161, 214208720],
 181744029: [199382229],
 182541768: [210932914],
 182630287: [158048102],
 182853378: [144902703],
 186369695: [174783274],
 187342268: [48412388],
 187570150: [2677380],
 188323737: [31215088],
 188546697: [31916119],
 189031483: [211943763],
 189308408: [27456547],
 189544563: [799445],
 191285578: [214925963],
 191449441: [191211430],
 191674006: [179171579],
 192608876: [213646699],
 192785588: [94497233],
 192919438: [4624716],
 193424291: [1762129],
 195870375: [105935455],
 198172755: [129799840],
 199314784: [121537666],
 201185983: [34132265],
 201428849: [89254393],
 201503467: [92521144],
 201557550: [214605778],
 203070501: [189834273],
 203440274: [73308605],
 203531250: [114282846],
 204225676: [198662175],
 208696908: [214111334],
 210197928: [52867898],
 213141071: [213646699]}

## Save the result

In [37]:
ans_shop = []
ans_user = []
for shop in ans_dict.keys():
    if len(ans_dict[shop]) > 1:
        user_cheat = set(ans_dict[shop])
        user_cheat = sorted(list(user_cheat), reverse=False)
        ans_user.append("&".join([str(i) for i in user_cheat]))
    else:
        ans_user.append(str(ans_dict[shop][0]))
    ans_shop.append(shop)

for shop in unique_shopid:
    if shop not in ans_dict.keys():
        ans_shop.append(shop)
        ans_user.append("0")

print(len(ans_shop))
print(len(ans_user))

df_ans = pd.DataFrame({'shopid': ans_shop, 'userid': ans_user})
df_ans.to_csv('prediction.csv',index=False)

18770
18770

In [38]:
df_ans

          shopid     userid
0          10159  214988798
1          10402      77819
2          10536     672345
3          42472     740844
4          42818  170385453
...          ...        ...
18765  163337224          0
18766     772599          0
18767   50236030          0
18768  203587596          0
18769  147118226          0

[18770 rows x 2 columns]

In [21]:
df_temp = df_temp[df_temp.duplicated(['userid'], keep = False)]
df_temp

           shopid     userid          event_time  day  hour  sec
65430   137739819  125683576 2019-12-27 21:17:39   27    21   39
209383  137739819  125683576 2019-12-27 21:21:36   27    21   36
170852  137739819   10842469 2019-12-28 14:57:58   28    14   58
128266  137739819   10842469 2019-12-28 15:00:39   28    15   39
178518  137739819  117286517 2019-12-28 16:52:12   28    16   12
209988  137739819  117286517 2019-12-28 16:59:57   28    16   57
66773   137739819  117286517 2019-12-28 17:14:03   28    17    3
222584  137739819  185908193 2019-12-28 18:03:51   28    18   51
194357  137739819  185908193 2019-12-28 18:05:28   28    18   28
170970  137739819   98685464 2019-12-28 18:49:32   28    18   32
174708  137739819    8296144 2019-12-28 19:20:33   28    19   33
153485  137739819    8296144 2019-12-28 19:22:44   28    19   44
196930  137739819   59014318 2019-12-29 11:59:47   29    11   47
9065    137739819    6978796 2019-12-29 12:01:07   29    12    7
90682   137739819    6978796 2019-12-29 12:03:20   29    12   20
31836   137739819   59014318 2019-12-29 12:16:37   29    12   37
20014   137739819   19165534 2019-12-29 12:42:41   29    12   41
20636   137739819   19165534 2019-12-29 12:43:53   29    12   53
33866   137739819  202808247 2019-12-29 13:12:36   29    13   36
25477   137739819  202808247 2019-12-29 13:15:20   29    13   20
14297   137739819  155492625 2019-12-29 14:01:37   29    14   37
113025  137739819  155492625 2019-12-29 14:30:43   29    14   43
116315  137739819  213030082 2019-12-30 21:57:58   30    21   58
202024  137739819  213030082 2019-12-30 22:15:42   30    22   42
78545   137739819   98685464 2019-12-31 00:59:22   31     0   22
161482  137739819   43640107 2019-12-31 01:13:54   31     1   54
17295   137739819   43640107 2019-12-31 04:15:16   31     4   16
156274  137739819  193404254 2019-12-31 22:39:37   31    22   37
206788  137739819  193404254 2019-12-31 23:07:19   31    23   19

In [79]:
a = df_temp.groupby('userid')['userid'].count()
a

userid
6978796      2
8296144      2
10842469     2
19165534     2
43640107     2
59014318     2
98685464     2
117286517    3
125683576    2
155492625    2
185908193    2
193404254    2
202808247    2
213030082    2
Name: userid, dtype: int64

In [102]:
b = dict(a.value_counts())

In [105]:
if key

1

In [101]:
for v in dict(b):
    print(v)

2
3

In [100]:
dict(b)

{2: 13, 3: 1}

In [21]:
unique_shopid[0]

93950878

In [23]:
df_temp = df[df.shopid == unique_shopid[4]].sort_values(by = 'event_time')
df_temp.head(10)

               orderid     shopid     userid          event_time
156868  31075952319741  127249066   49281203 2019-12-27 00:12:32
49442   31080441865252  127249066     295870 2019-12-27 01:27:22
118245  31080987985123  127249066    2829682 2019-12-27 01:36:27
157001  31098840741099  127249066   66416773 2019-12-27 06:34:00
193417  31099060351386  127249066  153868837 2019-12-27 06:37:40
193     31111092590803  127249066   21958993 2019-12-27 09:58:13
166900  31114106875564  127249066   42725367 2019-12-27 10:48:27
4       31117075665123  127249066  149493217 2019-12-27 11:37:55
30837   31117223287389  127249066  149493217 2019-12-27 11:40:24
27744   31120265364530  127249066  213763075 2019-12-27 12:31:05

In [19]:
df_temp.shape

(6, 4)

In [41]:
offset = timedelta(hours = 1)

In [43]:
df['event_time'][0] + offset

Timestamp('2019-12-27 01:23:03')

In [24]:
a = df_temp.groupby(['userid'])['userid'].count()

In [26]:
len(a)

118

In [27]:
a.unique()

array([1, 2])